/* Start Variables */
:root {
  --White: hsl(0, 0%, 100%);
  --Light-gray: hsl(212, 45%, 89%);
  --Grayish-blue: hsl(220, 15%, 55%);
  --Dark-blue: hsl(218, 44%, 22%);
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: #d6e1f0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 380px) {
  .container {
    width: 375px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1470px) {
  .container {
    width: 1440px;
  }
}
.card {
  width: 250px;
  background-color: var(--White);
  margin: 30px auto;
  padding: 12px;
  text-align: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}
.card img {
  width: 100%;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.card h2 {
  font-size: 16px;
  font-weight: 700;
  padding: 15px 12px 12px 12px;
  color: var(--Dark-blue);
}
.card p {
  width: 80%;
  font-size: 11px;
  font-weight: 400;
  margin: 0 auto;
  padding-bottom: 20px;
  color: var(--Grayish-blue);
}
/* End Componentt */
